header {
  background: #008281;
  padding: 27px 0 31px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-text {
  max-width: 120px;
}

.logo-name {
  max-width: 362px;
  margin: 0 0 0 -20px;
}

.nav-menu {
  margin: 0 0 0 58px;
}

.menu {
  font-size: 16px;
  line-height: normal;
}
.menu .nav-item {
  margin: 0 40px 0 0;
}
.menu .nav-item:last-child {
  margin: 0;
}
.menu .nav-link:hover {
  color: #000F22;
}